// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Base
@import "base/reset";
@import "base/typography";

// Components
@import "components/buttons";
@import "components/cards";
@import "components/slider";

// Layout
@import "layout/hero";
@import "layout/footer";
@import "layout/header";

// Pages
@import "pages/home";
@import "pages/responsive";
@import "pages/imperdibles";
@import "pages/turismo-cultural";
@import "pages/turismo-gastro";
@import "pages/parque-tenjo";
@import "pages/faunaticos";
@import "pages/juegos-pirotecnicos";
@import "pages/agenda";
@import "pages/faq";
@import "pages/banco-imagenes";
@import "pages/recorridos";
@import "pages/actividades";
